<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>

        <header th:replace="plantilla :: header"></header>
        
        <section th:replace="botones/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="botones/agregarCliente :: agregarCliente"></section>
        <section th:replace="botones/listadoClientes :: listadoClientes"></section>
        
        <footer th:replace="plantilla :: footer"></footer>
    </body>
</html>
